<div
  class="relative p-8 overflow-hidden bg-no-repeat bg-cover hero-img"
  style="background-image: url('jpg/hero-3.jpg'); height: 100vh"
>
  <div class="text-center my-6 relative">
    <div class="text-6xl font-bold mb-1 text-white">Bring Out The Best</div>
    <div class="text-6xl text-blue-400 font-bold mb-4">In Your Code</div>
    <p
      class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100"
      style="max-width: 500px"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
